.title{
    color: purple;
}
/* Full-width inputs */
input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.login{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login button{
    width: 100%;
    padding: 20px;
}